@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black--: #04100a;
  --secondary--color: #8dffcd;
}

body {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 16px;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

/* ----------------------
HOMEPAGE
-------------------------- */
.homepage {
  width: 100%;
  height: 100vh;
  background: url("../images/Auth-BG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.homepage--overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  /* background: rgba(0, 0, 0, 0.8); */
  background: rgba(4, 16, 10, 0.9);
}
.homepage--content {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}
.logo--text {
  color: var(--secondary--color);
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 2rem 0 0 0;
}
.page--body {
  margin: 4rem 0 0 0;
}
.body--header {
  font-size: 4rem;
  letter-spacing: 0.125rem;
  color: #ffffff;
}
.authentication--features {
  line-height: 2;
}
.single--feature {
  color: #ffffff;
  font-size: 2rem;
  position: relative;
  list-style: none;
  margin-left: 2rem;
}
.single--feature::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 22px;
  width: 0.5rem;
  height: 0.5rem;
  border: 3px dashed var(--secondary--color);
  border-radius: 50%;
  animation: 3s linear 1s infinite spin;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.reg--login-btn {
  margin: 3rem 0 0 0;
}
.btn {
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  margin: 0 1.25rem 0 0;
  transition: 0.2s;
}

/* ----------------------
VERIFY EMAIL 
-------------------------- */
.verify--email {
  width: 100%;
  height: 100vh;
  background: url("../images/verification.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.verify--overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(4, 16, 10, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.verify--text {
  color: var(--secondary--color);
  font-size: 2.5rem;
  font-style: italic;
}

/* ----------------------
REGISTER USER
-------------------------- */
.register {
  width: 100%;
  height: 100vh;
  background: url("../images/register.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.register--overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(4, 16, 10, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.create--text {
  color: var(--secondary--color);
  font-size: 3rem;
  font-weight: 700;
}
.form--box {
  background: rgba(4, 16, 10, 0.6);
  padding: 4rem 3rem;
  margin: 2rem 0 0 0;
  width: 40%;
  min-width: 350px;
}
.form {
  display: flex;
  flex-direction: column;
}
.register--input {
  background: rgba(255, 255, 255, 0.07);
  width: 100%;
  margin: 0 0 1rem 0;
  padding: 0.5rem 0.25rem;
  font-size: 1rem;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.7);
  outline-color: rgba(141, 255, 205, 0.5);
  color: #ffffff;
  font-family: inherit;
  letter-spacing: 1px;
}
.register--input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 1.5px;
}
.create--account-btn {
  padding: 0.5rem 0;
  font-family: inherit;
  letter-spacing: 1.5px;
  font-size: 1rem;
  font-weight: 600;
  background: rgba(141, 255, 205, 0.1);
  color: #ffffff;
  border: 1px solid var(--secondary--color);
  margin: 0.75rem 0 0 0;
  cursor: pointer;
}
.existing--account {
  margin: 1.25rem 0 0 0;
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  letter-spacing: 1.25px;
}
.existing--account a {
  color: var(--secondary--color);
}

/* ----------------------
SIGN IN
-------------------------- */
.sign--in {
  width: 100%;
  height: 100vh;
  background: url("../images/sign-in.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.sign--in--overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(4, 16, 10, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sign--in--input {
  background: rgba(255, 255, 255, 0.07);
  width: 100%;
  margin: 0 0 1rem 0;
  padding: 0.5rem 0.25rem;
  font-size: 1rem;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.7);
  outline-color: rgba(141, 255, 205, 0.5);
  color: #ffffff;
  font-family: inherit;
  letter-spacing: 1px;
}
.sign--in--input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 1.5px;
}
.forgot--password--text {
  margin: 0.75rem 0;
  text-align: center;
}
.forgot--password--link {
  color: var(--secondary--color);
  font-size: 1.25rem;
  letter-spacing: 1.25px;
}

/* ----------------------
FORGOT PASSWORD
-------------------------- */
.forgot--password {
  width: 100%;
  height: 100vh;
  background: url("../images/sign-in.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.forgot--password--overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(4, 16, 10, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.reset--instruction {
  font-style: italic;
  font-size: 1.5rem;
  margin: 0 0 1.5rem 0;
}
.forgot--password-form {
  width: 50%;
  min-width: 350px;
}
.forgot--password--input {
  background: rgba(255, 255, 255, 0.07);
  width: 100%;
  margin: 0 0 0.5rem 0;
  padding: 0.75rem 0.25rem;
  font-size: 1rem;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.7);
  outline-color: rgba(141, 255, 205, 0.5);
  color: #ffffff;
  font-family: inherit;
  letter-spacing: 1px;
}
.forgot--password--input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 1.5px;
}
.reset--pasword--btn {
  padding: 0.75rem 2rem;
  font-family: inherit;
  letter-spacing: 1.5px;
  font-size: 1rem;
  font-weight: 600;
  background: rgba(141, 255, 205, 0.4);
  color: #ffffff;
  border: 1px solid var(--secondary--color);
  margin: 0.25rem 0 0 0;
  cursor: pointer;
  display: block;
  text-align: center;
}

/* ----------------------
FORGOT PASSWORD VERIFICATION
-------------------------- */

.verify--password {
  width: 100%;
  height: 100vh;
  background: url("../images/forgotpasswordverification.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.verify--password--overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(4, 16, 10, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.verify--password--overlay p {
  font-style: italic;
  font-size: 1.5rem;
  margin: 0 0 1.5rem 0;
  color: var(--secondary--color);
}

/* ----------------------
EMAIL VERIFICATION SUCCESSFUL
-------------------------- */

.email--verification--success {
  width: 100%;
  height: 100vh;
  background: url("../images/emailverificationsuccessful.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.email--verification--success--overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(4, 16, 10, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.email--verification--success--overlay p {
  font-style: italic;
  font-size: 1.5rem;
  margin: 0 0 1.5rem 0;
  color: var(--secondary--color);
}

/* ----------------------
USER HOMEPAGE
-------------------------- */
.user--home--page {
  width: 100%;
  height: 100vh;
  background: rgba(4, 16, 10, 0.9);
}
.top--part {
  max-width: 1200px;
  padding: 1.5rem 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.user--name {
  color: #ffffff;
  font-size: 1.75rem;
  font-weight: 700;
}
.logout--btn {
  padding: 0.75rem 1.25rem;
  color: #ffffff;
  background: rgba(141, 255, 205, 0.4);
  letter-spacing: 1.25px;
}
.inpos--box {
  max-width: 1200px;
  padding: 1.5rem 1rem;
  margin: 0 auto;
}
.user--inspo {
  text-transform: uppercase;
  font-size: 1.75rem;
  color: var(--secondary--color);
  font-weight: 700;
  margin: 0 0 2rem 0;
}
.inspo--message {
  text-transform: uppercase;
  font-size: 1.75rem;
  color: var(--secondary--color);
}
